$buttons-text-color: $lightTextColor !default;
$buttons-primary-color: $primaryColor !default;
$buttons-secondary-color: $secondaryColor !default;
$buttons-danger-color: $dangerColor !default;
$buttons-info-color: $infoColor !default;
$buttons-warning-color: $warningColor !default;
$buttons-disabled-color: $disabledColor !default;
$buttons-active-overlay-color: #000 !default;
$buttons-overlay-color: #fff !default;



button{
  border: none;
  background-color: $buttons-primary-color;
  font-size: 1rem;
  padding: 10px 20px;
  color: $buttons-text-color;
  margin: 5px;
  min-width: 120px;
  position: relative;
  cursor: pointer;
  
  &:after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $buttons-overlay-color;
    opacity:0;
    transition: all .3s;
  }
  
  &:hover, &:focus{
    &:after{
      opacity: .2;
    }
  }
  
  &:focus{
    outline: none;
  }
  
  &:active{
    &:after{
      background-color: $buttons-active-overlay-color;
    }
  }
  
  &.secondary{
    background-color: $buttons-secondary-color;
  }
  &.warning{
    background-color: $buttons-warning-color;
  } 
  &.danger{
    background-color: $buttons-danger-color;
  }
  &.info{
    background-color: $buttons-info-color;
  }
  &:disabled{
    background-color: $buttons-disabled-color !important;
    cursor: auto;
    
    &:after{
      content:none !important;
    }
  }
  
  &.small{
    font-size: .8rem;
    min-width: 100px;
    padding: 8px 15px;
  }
  
  &.big{
    font-size: 1.4rem;
    min-width: 180px;
    padding: 15px 25px;
  }

  &.block{
    width: 100%;
  }

  &.icon{
    min-width: 0;
    padding: 10px;

    &.big{
      padding: 15px 20px;
    }

    &.small{
      padding: 8px;
    }
  }
}