$darkColor: #2C3E50 !default;
$lightColor: #ECF0F1 !default;
$contrastColor: #F39C12 !default;
$midtone: #BDC3C7 !default;

$darkTextColor: #000 !default;
$lightTextColor: #fff !default;

$primaryColor: #3498DB !default;
$secondaryColor: #F39C12 !default;
$dangerColor: #E74C3C !default;
$infoColor: #1ABC9C !default;
$warningColor: #F1C40F !default;
$disabledColor: $midtone !default;