$side-menu-background-color: $darkColor !default;
$side-menu-text-color: $lightColor !default;
$side-menu-highlighted-color: $contrastColor !default;

$side-menu-title: $contrastColor !default;

.side-menu{
  width: 100%;
  height: 100%;
  background-color: $side-menu-background-color;
  
  
  .side-menu-title{
    font-size: .8rem;
    color: $side-menu-title;
    padding: 20px 20px 5px;
  }
  
  li{
    padding: 0 20px;
    
    &:HOVER, &.selected{
      background-color: $side-menu-highlighted-color;
    }
    
    a{
      text-decoration: none;
      line-height: 40px;
      color: $side-menu-text-color;
    }
  }
  
  &.light{
    background-color: $side-menu-text-color;
    color: $side-menu-background-color;
    
    .side-menu-title{
      color: $side-menu-title;
    }
    
    li a{
      color: $side-menu-background-color;
    }
  }
}